mainColors {
  color: #f6f7eb;
  color: #44bba4;
  color: #689bc5;
  color: #393e41;
  color: #e94f37;
}

html {
  background-color: #f6f7eb;
}

#topRow {
  background-color: #689bc5;
}

#mainHeader {
  color: #393e41;
  background-color: #44bba4;
  padding: 5px;
}
#timeTables {
  margin-left: 10vw;
  margin-right: 10vw;
}
.raceTimeTable {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: #f6f7eb;
}
.raceTimeTable th {
  background-color: #689bc5;
  color: #393e41;
}
.raceTimeTable td,
.raceTimeTable th {
  padding: 10px;
  border: 1px solid #689bc5;
}

#raceFormDiv {
  border-radius: 5px;
  background-color: #689bc5;
}

input[type="text"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #44bba4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #389b87;
}

.headerButton {
  text-align: center;
  width: 15%;
  background-color: #689bc5;
  color: white;
  padding: 20px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flex-box-2 {
  display: flex;
  justify-content: space-around;
}

.headerButton:hover {
  background-color: #5a86aa;
}

.center {
  margin: auto;
  width: 60%;
  border: 15px solid #f6f7eb;
  padding: 10px;
}

#loginFormDiv {
  width: 40vw;
  margin-top: 10%;
  border-radius: 5px;
  background-color: #689bc5;
  text-align: center;
  border: none;
  border-radius: 10px;
}
#loginForm input[type="text"],
input[type="submit"] {
  margin: 3%;
  margin-left: 5%;
  width: 80%;
}
